@using Application.DTOs
@using Application.Interface
@using Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject IUser user;
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">


</div>



@section Scripts {



}

