.no-style-link {
    text-decoration: none !important; 
    color: inherit !important; 
    background: none !important; 
    border: none !important;
    padding: 0;
    margin: 0;
}

    .no-style-link:hover {
        color: blue; 
        text-decoration: underline; 
    }
