@using Application.DTOs
@using Application.Interface
@using Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject IUser user;
@inject UserManager<ApplicationUser> _userManager;
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img class="img-fluid table-responsive" src="~/img/taskflowlogo.png" />

    <h1 class="display-3">Welcome to <span style="font-weight:bold">Task Flow</span> Management</h1>
    <h4>Efficiently Manage Your Tasks and Boost Productivity</h4>
    <p>Task Flow is your ultimate tool for organizing, tracking, and completing tasks with ease.<br />Whether you're managing personal to-dos or team projects, Task Flow simplifies your workflow.</p>
    <br />
    <div class="d-flex justify-content-center gap-3">
        <a href="/Identity/Account/Register" class="btn btn-primary">GetStart</a>
        <a class="btn btn-secondary">Learn more</a>
    </div>
</div>

<div class="row" style="margin-top:40px">
    <h1 class="display-3 text-center">Key Features</h1>
    <div class="col-md-6">
        <div class="card text-center" style="min-height:150px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Task Creation</h5>
                <p class="card-text">Easily create and assign tasks</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-center" style="min-height:150px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Task Tracking</h5>
                <p class="card-text">Monitor progress with real-time updates</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center" style="min-height:150px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Collaboration</h5>
                <p class="card-text">Share tasks and collaborate with your team</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-center" style="min-height:150px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Deadline Management</h5>
                <p class="card-text">Set and prioritize deadlines</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center" style="min-height:150px;margin:20px">
            <div class="card-body">
                <h5 class="card-title">Reports & Analytics</h5>
                <p class="card-text">Generate reports to analyze productivity</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {



}

