@model Application.DTOs.ProjectDto

@{
	ViewData["Title"] = $"{Model.Name} details";
}

<div>
	<h4>@Model.Name</h4>
	<span style="font-size:13px">ID:@Model.Id</span>
	<p style="text-align:end">Start Date: @Model.StartDate</p>
	<hr />
	<p>
		@Html.Raw(Model.Description)
	</p>
</div>
<div>
	@Html.ActionLink("New Task", "NewTask", "Task", new { id = Model.Id }) |
	<a asp-action="Index">Back to List</a>
</div>
